/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  background-color: #22295e;
  display: flex;
  justify-content: space-between;
  align-items: right;
  padding: 10px 50px;
}
.header-links a{
  margin-top: 50px;
  margin-bottom:50px;
  align-items: center;
  justify-content: center;
  align-items: space-between;
  justify-content: space-between;
  color: rgb(252, 252, 252);
  text-decoration: none;
  padding: 0 15px;
}
.header-links :hover {
  background-color: #5b3898;
  padding: 5 5px;
  border-radius: 8px;
}
.q button{
  margin-left: 210px;
  margin-bottom: 20px;
  align-items: right;
  justify-content: right;
  padding-top:5px;
  border-radius: 10px;
  }
.q button:hover{
  background-color: #5b3898;
}
proudect-list li {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: space-between;
  padding: 20px;
}
